/* Varible declaration */
:root {
    --baby-blue: rgb(60, 138, 247);
    --nav-black: #333;
    --header-white: #f1f1f1;
    --mix-gray: color-mix(in lch, color(srgb 0 0 0), color(srgb 1 1 1));

    --dark-mode-black: #333;
    --dark-mode-gray: rgb(91, 88, 88);
}

/* custom font face */
@font-face {
    font-family: "Ubuntu Condensed";
    src: url('fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf') format('truetype');;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50vw);
    }
}

/* Stling for the nav bar */
#header-text{
    overflow: hidden;
    background-color: var(--header-white, #f1f1f1);
    padding: 20px 10px;
    color: var(--baby-blue);
}

#header-text:hover{
    animation: slide 2.5s ease infinite alternate;
}

nav {
    overflow: hidden;
    background-color: var(--nav-black, #333);
    font-family: Arial;
    width: 100%;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav img {
    position: absolute;
    top: 0;
    right: 0;
}

nav a:hover {
    background-color: var(--baby-blue, rgb(60, 138, 247));
    transform: scale(1.1)
}


/* Styling for contact me */
input[type=text],[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
  
input[type=submit] {
    background-color: var(--baby-blue, rgb(60, 138, 247));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s ease;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: lightseagreen;
}

  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Styling for table of contents */
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    width: 100%
}

#toc_container.dark-mode {
    background: var(--dark-mode-black, black) none repeat scroll 0 0;
    color: white
}

#toc_container > h3 {
    padding-left: 20px;

}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    padding-left: 25px;
}

li > a{
    color: inherit;
}

/* Styling for page body */
p {
    font-size: 18px; /* Set a comfortable font size */
    line-height: 1.6; /* Provide good line spacing for readability */
    margin-bottom: 1em; /* Add some space between paragraphs */
}

pre {
    background-color: rgb(213, 213, 213);
    border-radius: 10px;
}

pre.dark-mode{
    background-color: var(--dark-mode-gray, gray);
}

section:has(pre, iframe){
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    position: relative;
    white-space: nowrap;
}

#implementation>*{
    margin: 1rem;
    flex: 1;
    min-height: 50vh;
}

#overview{
    min-height: 40vh;
}

#overview > img{
    min-height: 25vh;
    object-fit: contain;
}

#wrap-image-right{
    float: right;
    max-width: 40vw;
    max-height: 40vh;
}


/* Styling for footer */
footer {
    text-align: center;
    background-color: var(--mix-gray, #333);
}

/* Media queries responsiveness for phone */
@media (max-width: 500px) {
    nav img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 125px;
        max-height: 125px;
    }
    #implementation{
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        position: relative;
        white-space: nowrap;
        flex-direction: column;
    }
}

/* Media queries responsiveness for tablet */
@media (min-width: 501px) and (max-width: 991px) {
    nav img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 175px;
        max-height: 175px;
    }
}

/* rest is responsiness for laptop/pc */


.input_field {
    display:flex;
    flex-direction: column;
}

.error_message{
    background-color: red;
}

.fade-out {
    opacity: 0;
    transition: opacity 4s ease;
}

.dark-mode {
    background-color: var(--dark-mode-black, black);
    color: white;
}

#toggle_button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

#toggle_button:hover{
    transform: scale(1.2)
}