:root {
    --chosen-rating: #ffdd1f;
}

#js_wrapper{
    display: flex;
    font-size: 2em;
    width: fit-content;
}

/* make all stars yellow */
#js_wrapper:hover div{
    color: var(--chosen-rating, yellow);
    cursor: pointer;
}

/* make successor stars black (all stars on and before will be yellow) */
#js_wrapper div:hover ~ div {
    color: black;
}